
name: odata-connector
on:
  push:
    branches: [ "main" ]
    paths:
        - connectors/spark/scala/odata/*
  pull_request:
    types: ["opened"]
    branches: [ "main" ]
    paths:
        - connectors/spark/scala/odata/*
  workflow_dispatch:
jobs:
  unit_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        SCALA_VERSION: [2.12.18,2.13.13]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 11
          cache: sbt
      - uses: sbt/setup-sbt@v1
      - name: change the directory
        run: cd connectors/spark/scala/odata
      - name: Run the unit test
        run: |
          cd connectors/spark/scala/odata
          sbt "++ ${{ matrix.SCALA_VERSION }} test:testOnly io.github.narramukhesh.projectone.spark.odata.test.unit_testing.*"
  
  integration_test:
    runs-on: ubuntu-latest
    if: (!startsWith(github.event.head_commit.committer.name, 'sbt-release-projectone'))
    needs: [unit_test]
    strategy:
      matrix:
        SCALA_VERSION: [2.12.18,2.13.13]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 11
          cache: sbt
      - uses: sbt/setup-sbt@v1
      - name: change the directory
        run: cd connectors/spark/scala/odata
      - name: Run the integration test
        run: |
          cd connectors/spark/scala/odata
          sbt "++ ${{ matrix.SCALA_VERSION }} test:testOnly io.github.narramukhesh.projectone.spark.odata.test.integration_testing.*"
  
  release:
    runs-on: ubuntu-latest
    if: (!startsWith(github.event.head_commit.committer.name, 'sbt-release-projectone')) && contains( github.ref, 'main')
    needs: [unit_test, integration_test]
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT_FOR_WORKFLOW }}
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 11
          cache: sbt
      - uses: sbt/setup-sbt@v1
      - name: Release
        run: |
            eval $(ssh-agent -s)
            echo "${{ secrets.SEM_REL_PRIVATE }}" | ssh-add -
            mkdir -m 700 $HOME/.ssh
            git reset --hard
            git clean -fd
            git checkout ${{ github.ref_name }}
            git pull origin ${{ github.ref_name }}
            git config --local user.name "sbt-release-projectone"
            git config --local user.email "sbt-release-projectone@gmail.com"
            gpg --version
            echo "$PGP_SECRET"| base64 --decode| gpg --batch --import
            cd connectors/spark/scala/odata
            sbt "release with-defaults"
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHARSE }}
          PGP_SECRET: ${{ secrets.PGP_PRIVATEKEY }}
          SONATYPE_PASSWORD: ${{ secrets.SONA_TYPE_PASS }}
          SONATYPE_USERNAME: ${{ secrets.SONA_TYPE_USERNAME }}

