
name: projectoneflow
on:
  push:
    branches: [ "main" ]
    paths:
        - projectoneflow/*
        - projectoneflow-framework/*
  pull_request:
    types: ["opened"]
    branches: [ "main" ]
    paths:
        - projectoneflow/*
        - projectoneflow-framework/*
  workflow_dispatch:
jobs:
  path_filters:
    name: "Get Changed files"
    runs-on: ubuntu-latest
    outputs: 
      projectoneflow: ${{ steps.filter.outputs.projectoneflow }}
      projectoneflow_framework: ${{ steps.filter.outputs.projectoneflow_framework }}
    steps:
      - uses: actions/checkout@v4
      - name: "Examine changed files"
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            projectoneflow:
              - "projectoneflow/*"
            projectoneflow_framework:
              - "projectoneflow-framework/*"
  projectoneflow_test:
    runs-on: ubuntu-latest
    needs: [path_filters]
    if: |
      ${{
        needs.path_filters.outputs.projectoneflow == 'true'
      }}
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
      - uses: actions/setup-node@v6
        with:
          node-version: '22.x'
          package-manager-cache: false
      - uses: actions/setup-python@v6
        with:
            python-version: '3.10'
      - name: Run Test
        run: |
          sudo apt-get update -y
          sudo apt-get install -y --no-install-recommends ca-certificates
          python -m pip install build
          cp -r -f projectoneflow /tmp/projectoneflow
          cd /tmp/projectoneflow
          python -m build --sdist
          python -m pip install dist/*.tar.gz
          pytest --junitxml=report.xml --cov-report xml:coverage.xml
      - name: Upload coverage report artifact
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage-report
          path: /tmp/projectoneflow/coverage.xml

      - uses: actions/upload-artifact@v4
        with:
          name: junit-report
          path: /tmp/projectoneflow/report.xml
  
  projectoneflow_release:
    runs-on: ubuntu-latest
    needs: [projectoneflow_test]
    if: (!startsWith(github.event.head_commit.committer.name, 'semantic-release-projectone')) && contains( github.ref, 'main') && needs.path_filters.outputs.projectoneflow == 'true'
    steps:
      - uses: actions/checkout@v4
        with:
            token: ${{ secrets.PAT_FOR_WORKFLOW }}
      - uses: hashicorp/setup-terraform@v3
      - uses: actions/setup-node@v6
        with:
          node-version: '22.x'
          package-manager-cache: false
      - uses: actions/setup-python@v6
        with:
            python-version: '3.10'
      - name: Project Oneflow Release
        run: |
            eval $(ssh-agent -s)
            echo "${{ secrets.SEM_REL_PRIVATE }}" | ssh-add -
            mkdir -m 700 $HOME/.ssh
            git reset --hard
            git clean -fd
            git checkout ${{ github.ref_name }}
            git pull origin ${{ github.ref_name }}
            git config --local user.name "semantic-release-projectone"
            git config --local user.email "semantic-release-projectone@github.com"
            cd projectoneflow
            python -m pip install build
            python -m pip install -r environment/requirements.txt
            python -m pip install python-semantic-release
            semantic-release version
            cp -r -f ../projectoneflow /tmp/projectoneflow
            cd /tmp/projectoneflow
            python -m build --sdist
            python -m pip install twine
            twine upload dist/*.tar.gz
           
        env:
          GH_TOKEN: ${{ secrets.PAT_FOR_WORKFLOW }}
          GIT_COMMIT_AUTHOR: "semantic-release-projectone <semantic-release-projectone@github.com>"
          PGP_SECRET: ${{ secrets.PGP_PRIVATEKEY }}
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
          TWINE_USERNAME: __token__
  
  projectoneflow_framework_test:
    runs-on: ubuntu-latest
    needs: [path_filters,projectoneflow_release]
    if: |
      ${{
        needs.path_filters.outputs.projectoneflow_framework == 'true'
      }}
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
      - uses: actions/setup-node@v6
        with:
          node-version: '22.x'
          package-manager-cache: false
      - uses: actions/setup-python@v6
        with:
            python-version: '3.10'
      - name: Run project oneflow framework Test
        run: |
          python -m pip install build
          cp -r -f projectoneflow /tmp/projectoneflow
          cd /tmp/projectoneflow
          python -m build --sdist
          python -m pip install dist/*.tar.gz
          cd -
          cd projectoneflow-framework
          python -m pip install .
          pytest --junitxml=report.xml --cov-report xml:coverage.xml
      - name: Upload coverage report artifact
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage-report
          path: ./coverage.xml
  
  projectoneflow_framework_release:
    runs-on: ubuntu-latest
    if: (!startsWith(github.event.head_commit.committer.name, 'semantic-release-projectone')) && contains( github.ref, 'main') && (needs.path_filters.outputs.projectoneflow_framework == 'true')
    needs: [path_filters,projectoneflow_framework_test]
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT_FOR_WORKFLOW }}
      - uses: actions/setup-node@v6
        with:
          node-version: '22.x'
          package-manager-cache: false
      - uses: actions/setup-python@v6
        with:
            python-version: '3.10'
      - name: projectoneflow Framework Release
        run: |
            eval $(ssh-agent -s)
            echo "${{ secrets.SEM_REL_PRIVATE }}" | ssh-add -
            mkdir -m 700 $HOME/.ssh
            git reset --hard
            git clean -fd
            git checkout ${{ github.ref_name }}
            git pull origin ${{ github.ref_name }}
            git config --local user.name "semantic-release-projectone"
            git config --local user.email "semantic-release-projectone@github.com"
            cd projectoneflow-framework
            python -m pip install build
            python -m pip install -r environment/requirements.txt
            python -m pip install python-semantic-release
            semantic-release version
            python -m build --sdist
            python -m pip install twine
            twine upload dist/*.tar.gz
           
        env:
          GH_TOKEN: ${{ secrets.PAT_FOR_WORKFLOW }}
          GIT_COMMIT_AUTHOR: "semantic-release-projectone <semantic-release-projectone@github.com>"
          PGP_SECRET: ${{ secrets.PGP_PRIVATEKEY }}
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
          TWINE_USERNAME: __token__